{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h1>Receipts by Account</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Number of Receipts</th>
        </tr>
      </thead>
      <!-- prettier-ignore -->
      {% for key, value in receipts_by_account.items %}

      <tr>
        <td>{{ key }}</td>

        {% for account in accounts %} {% if account == key %}
        <td>{{ account.number }}</td>
        {% endif %} {% endfor %}
        <td>{{ value }}</td>
      </tr>
      <!-- prettier-ignore -->

      {% endfor %}
    </table>
  </div>
</main>
{% endblock content %}
