{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h1>Receipts by Category</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Receipts</th>
        </tr>
      </thead>
      {% for key,value in receipts_by_expense.items %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</main>
{% endblock content %}
